/*
    note: 市民打卡样式
*/

.checkplaces {
    padding: 0 2vw 1vw;
    width: 100%;
    height: 65%;
    overflow-y: auto;
    /* position: fixed;
    top: 30%; */
}

.item {
    width: 100%;
    display: flex;
    margin-bottom: 2vw;
    border-bottom: 1px solid #207329;
    padding: 1vw;
}

.item div {
    margin: 1vw;
}

.item div img{
    width: 100%;
}

.item_pic {
    flex: 1;
}

.item_intro {
    flex: 2;
    font-size: 2vw;
    line-height: 2;
    padding: 2vw;
    text-align: justify;
}
