/*
    note: 第三页样式
    write: zx
*/

.pageThree {
    text-align: center;
    width: 100%;
    height: 100%;
    background: url(http://img.foshanplus.com/2020/pic/chan/p3/p3main.png) top center no-repeat;
    background-size: 100%;
}

.mainforp3 {
    position: absolute; 
    left: 50%; 
    top: 50%;
    width: 80%;
    height: 85%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.1);
    padding: 50px;
}

.p3row {
    margin: 0.5vw 0; 
}

#step {
    width: 100%;
}

.p3rowlevel2 {
    margin-bottom: 1vw; 
}

.p3rowlevel3 {
    margin-bottom: 0.1vw; 
}

.p3rowlevel3_bottom {
    margin: 1.2vw 0; 
}

.p3rowlevel3 p {
    text-align: justify;
    font-size: 0.8w;
    margin-bottom: 1.5vw; 
}

.p3rowlevel4 {
    margin: 0.5vw 0; 
}

.infolabel {
    display: flex;
    width: 100%;
    font-size: 0.9vw;
    align-items: center 
}

.infotypein {
    width: 100%;
    font-size: 0.8vw;
    height: 2.5vw;
    border: 0;
    border-radius: 10px;
    padding: 10px;
}

.p3rowlevel5 {
    margin: .5vw 0;
}

.prjtypeContent {
    vertical-align: middle;
}

.prjtype {
    display: flex;
    align-items: center;
}

.prjtyperadio {
    width: 0.8vw;
    height: 0.8vw;
}

.labelprjtype {
    font-size: 1vw;
    margin-bottom: 0;
}

.guideforp3 {
    position: absolute;
    left: 4%;
    bottom: 10%;
    width: 20%;
    height: 40%;
    background-color: #247d3c;
    z-index: 10;
    box-shadow: 5px -5px 5px #717171;
    padding: 10px 20px;
    color: #fff;
}
.guideforp3 img {
    width: 100%;
}

.guidetitleforp3 {
    text-align: justify;
    font-size: 1vw;
    color: #fff;
}

.guidecontentforp3 {
    font-size: 0.8vw;
    text-align: justify;
}

.guidetitleforp3, .guidecontentforp3 {
    margin-bottom: 10px !important;
}

.stepsforinfo {
    background-color: #feed4d;
}

.preandnext {
    padding: 10px;
    background-color: #31a242;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    width: 150px;
    bottom: 5%;
    cursor: pointer;
}

.showmodal {
    padding: 10px;
    background-color: #31a242;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    width: 150px;
    bottom: 5%;
    cursor: pointer;
}

.modaltitle {
    font-size: 1.2vw;
    padding: 0.5vw;
}

.modaltextarea {
    border: 1px solid #eee0df;
    height: 300px !important;
    resize: none;
}

.shorttext {
    width: 100%;
    display: flex;
    font-size: 0.9vw;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    text-align: justify;
} 

#read {
    width: .9vw;
    height: .9vw;
}

.labelprjread {
    font-size: 0.9vw;
    margin: 0;
}

.notices {
    text-align: justify;
    font-size: 0.9vw;
}

.infotypeNone {
    width: 100%;
    background: transparent;
    font-size: 0.8vw;
    height: 2.5vw;
    border: 0;
    border-radius: 10px;
    padding: 10px;
}

.finalsubmitted {
    padding: 10px;
    background-color: gray;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    width: 150px;
    bottom: 5%;
    /* cursor: pointer; */
}

.myajaxprocess_notice {
    text-align: center;
    margin-bottom: 1vw;
}

.progress {
    height: 1vw;
}

.upload_big {
    display: flex;
}


.bigfile_btn_pic {
    background-color: #247d3c;
    border-radius: 5px;
    color: #feed4d;
    font-size: 0.9vw;
    line-height: 2.5vw;
    cursor: pointer;
    outline: none;
    border: 0;
    flex: 1;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.bigfile_btn {
    background-color: #247d3c;
    border-radius: 5px;
    color: #feed4d;
    font-size: 0.9vw;
    line-height: 2.5vw;
    cursor: pointer;
    outline: none;
    border: 0;
    flex: 1;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.uploaded_video_name {
    flex: 3;
    outline: none;
    border: 0;
    font-size: 0.8vw;
    background-color: whitesmoke;
    padding: 0 0.5vw;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.uploaded_pic_name {
    flex: 3;
    outline: none;
    border: 0;
    font-size: 0.8vw;
    background-color: whitesmoke;
    padding: 0 0.5vw;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.bigfile_btn_execUpload {
    background-color: yellowgreen;
    color: #fff;
    font-size: 0.9vw;
    border-radius: 5px;
    outline: none;
    border: 0;
    flex: 1;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer;
}

.bigfile_btn_cancelUpload {
    background-color: grey;
    color: #fff;
    font-size: 0.9vw;
    outline: none;
    border: 0;
    flex: 1;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer;
}

.bigfile_btn_execUpload span{
    margin: 0 auto;
    line-height: 2.5vw;
}

.bigfile_btn_cancelUpload span{
    margin: 0 auto;
    line-height: 2.5vw;
    
}

#mustknown {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid;
    border-radius: 50%;
    font-size: 18px;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}

.UploadBIGsuccee_modal_label {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: #247d3c;
}

.UploadBIGsuccee_modal_label_ok {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
}