html{height:100%;}
body {background: url('https://fsnewsres.foshanplus.com/h5/lawVote2020present/bak2.jpg') no-repeat;padding: 0;margin: 0;background-size: 100% 100%;}
.startlink {position: fixed;bottom: 50px;right: 50px;text-align: center;font-size: 24px;padding: 15px;background-color: green;color: #fff;cursor: pointer;z-index: 999;}
#showdata {display: none;}
.countdown {margin: 0 auto;position: relative;top: 5%;z-index: 999;text-align: center;}
.voteqrcode {margin: 0 auto;position: relative;}
.voteqrcode img {margin: 0 auto;}
